/**** Proprietes générales ****/
body {
  max-width: 1440px;
  margin: 0 auto;
}

/**** Propriètés Searchbar ****/
h1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 36px;
  color: #d04f4f;
}
form {
  padding-right: 10px;
}
.searchbar {
  border-radius: 5px;
  background-image: url("medias/search_icon.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: calc(100% - 10px);
  background-size: 20px;
}

/*. gestion de l'affichage des dropdown*/
.filters_section {
  gap: 10px;
}
/**** Creation des cartes recettes ****/
.cards_container {
  gap: 10rem;
}
.recipes_card {
  width: 380px;
  height: 364px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  font-size: 12px;
  font-family: "DM Sans";
  font-weight: 400;
}
.card_picture {
  width: 455px;
  height: 178px;
  border-radius: 5px 5px 0px 0px;
  background-color: #c7bebe;
}
.card_body {
  background-color: #e7e7e7;
}

.recipe_title,
.time {
  font-family: "DM Sans";
  font-size: 20px;
}
.time {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;

  align-items: center;
}
.time_icon {
  height: 16px;
  padding-right: 2px;
}
.ingredients {
  list-style: none;
}
.ingredients_container {
  padding-left: 0px !important;
  padding-right: 6px !important;
}
.recipe {
  padding-left: 6px !important;
  padding-right: 0 !important;
}
.ingredients_list {
  list-style: none;
}
.recipes_card {
  overflow-x: hidden;
}

/**** Creation des cartes recettes ****/
.tag_section {
  display: flex;
}
.tag_search {
  margin-right: 10px;
}
.tag {
  width: auto;
  max-width: 300px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  color: #fff;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.close_button {
  margin-left: 2px;
}
.error_message {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
}
