/**** ajout des propriètés boutons dropdown ****/
.dropdown_btn {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  border: none;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.arrow_down {
  padding-left: 30px;
}
.ingredients {
  background-color: $ingredients;
  color: #fff;
}
.ustensiles {
  background-color: $ustensils;
  color: #fff;
}
.devices {
  background-color: $appliances;
  color: #fff;
}
